@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px;
}