.signin {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 100vh;
}

.signin__content {
    text-align: center;
}

.signin__content h2 {
    font-size: 36px;
}

.signin__content p {
    max-width: 40ch;
    margin: 18px auto;
    font-size: 16px;
    line-height: 26px;
}