.features {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    align-items: center;
    gap: 30px;
}

.features div {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.features div h3 {
    font-size: 18px;
    margin: 14px 0px;
}

.features div p {
    max-width: 30ch;
    font-size: 1rem;
    line-height: 28px;
}